<div class="header px-4 py-5 flex justify-between border-b shadow">
    <div class="brand flex items-center gap-3">
        <button>
            <i class="icofont-navigation-menu icofont-1x"></i>
        </button>
        <span class="text-muted text-lg hidden">
            <i>anz</i>
            <b>UI</b>
        </span>
    </div>
    <div class="relative">
        <button class="flex items-center gap-3 text-slate-800" id="menu-button">
            <i class="icofont-duotone icofont-user"></i>
              Salumu J. Athumani
              <i class="icofont-rounded-down"></i>
        </button>

        <div
              class=" absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
              tabindex="-1"
            >
            <div class="py-1" role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-0"
                  >Account settings</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-1"
                  >Support</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-2"
                  >License</a
                >
                <form method="POST" action="#" role="none">
                    <button
                    type="submit"
                    class="block w-full px-4 py-2 text-left text-sm text-gray-700"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-3"
                  >
                    Sign out
                  </button>
                </form>
            </div>
        </div>
    </div>
</div>